<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Bookbag">

	<!-- 책가방 리스트 출력 -->
	<select id="selectBookbagListById" resultType="kh.bookday.dto.BookbagDTO">
		select * from bookbag where id = #{id}
	</select>
	
	<!-- 책 삭제 --> 
	<delete id="deleteBookbagBySeq">
		delete from bookbag where bookbag_seq = #{bookbag_seq}
	</delete>
	
	<!-- 책 출력 -->
	<select id="selectBookbagBySeq" resultType="kh.bookday.dto.BookbagDTO">
		select * from bookbag where bookbag_seq = #{bookbag_seq}
	</select>
	
</mapper>