<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Bookshelves">

	<select id="selectAllRental" resultType="kh.bookday.dto.RentalDTO">
		select * from rental where id = #{id}
	</select>
	
	<select id="selectAllWishlist" resultType="kh.bookday.dto.WishlistDTO">
		select * from wishlist where id = #{id}
	</select>
</mapper>